@import url(./vendor/fine@v0.10.0.css) layer(fine);

:root {
  /* Calculated with https://clamping.andreasphil.com */
  --body-padding-y: clamp(2rem, 8.972vw - 0.125rem, 5rem);
  --theme-primary: 200 93% 47%;
  --theme-tint: 200;
}

html {
  opacity: 1;
  visibility: visible;
}

.text-c-variant {
  color: var(--c-fg-variant);
}

/* -------------------------------------------------- *
 * Header                                             *
 * -------------------------------------------------- */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--body-padding-y);
}

.header__button {
  --border-width: 0px;
  padding: 0.375rem 0.5rem;
}

/* -------------------------------------------------- *
 * Footer                                             *
 * -------------------------------------------------- */

.footer {
  padding: var(--body-padding-y) 0 0;
  text-align: center;
}

/* -------------------------------------------------- *
 * Bookmarks                                          *
 * -------------------------------------------------- */

.bookmarks {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin: 0;
  padding: 0;
}
@media (min-width: 58rem) {
  .bookmarks {
    margin: 0 -1rem;
  }
}

.bookmarks__group-title {
  font-size: var(--font-size-h3);
  margin-top: var(--body-padding-y);
  text-transform: capitalize;
}
.bookmarks__group-title:first-child {
  margin-top: 0rem;
}

.bookmarks__item {
  list-style-type: none;
  margin-top: 0;
}

.bookmarks__link {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  border: var(--border-width-large) solid transparent;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
  padding: 1rem;
  text-decoration: none;
  transition-property: color, border-color;
}
.bookmarks__link:is(:hover, :focus) {
  border-color: var(--primary);
}

.bookmarks__icon {
  font-size: var(--font-size-h3);
  margin-bottom: auto;
}

.bookmarks__title {
  margin-top: 1em;
  text-transform: capitalize;
  line-height: 1.25em;
  margin-bottom: 0.25rem;
}

/* -------------------------------------------------- *
 * Search dialog                                      *
 * -------------------------------------------------- */

.search-dialog {
  max-width: 30rem;
  padding-bottom: 0;
  top: 100px;
}

.search-dialog__input {
  margin-bottom: 1rem;
}

.search-dialog__results {
  margin: 0;
  max-height: 24rem;
  overflow: auto;
  padding: 0 0 1rem 0;
}

.search-dialog__result {
  list-style-type: none;
}
.search-dialog__result a {
  align-items: center;
  border: var(--border-width-large) solid transparent;
  border-radius: var(--border-radius);
  display: flex;
  gap: 1rem;
  outline: none;
  padding: 0.6125rem calc(1rem - var(--border-width-large));
  text-decoration: none;
  transition-property: background-color, color;
}
.search-dialog__result a:hover {
  background: var(--c-surface-variant-bg);
}
.search-dialog__result a:hover:is(:focus, .focus) {
  background: var(--primary-50);
}
.search-dialog__result a:is(:focus, .focus) {
  border-color: var(--primary);
}

.search-dialog__icon {
  flex: none;
  font-size: var(--font-size-h3);
}

.search-dialog__text > * {
  display: block;
}

.search-dialog__empty {
  padding: 2.5rem 1.5rem;
  border: var(--border-width) dashed var(--c-border);
  margin: 0 0 1rem;
  border-radius: var(--border-radius);
  text-align: center;
}

.search-dialog__empty * {
  margin: 0.5rem 0;
}
