@import url(./vendor/fine@v0.6.0.css) layer(fine);

:root {
  /* Calculated with https://clamping.andreasphil.com */
  --body-padding-y: clamp(2rem, 8.972vw - 0.125rem, 5rem);
  --border-width: 2px;
  --c-favorite-bg: hsl(340 82% 50% / 0.15);
  --c-favorite: hsl(340 82% 50%);
}

.text-c-variant {
  color: var(--c-fg-variant);
}

/* -------------------------------------------------- *
 * Header                                             *
 * -------------------------------------------------- */

.header {
  --svg-height: calc(var(--line-height) * 1em);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: var(--body-padding-y);
}

.header__button {
  --border-width: 0px;
  padding: 0.375rem 0.5rem;
  color: var(--c-fg-variant);
}

.header__divider {
  background: var(--c-border);
  margin: 0 0.375rem;
  width: var(--border-width);
}

.header__item--favorite {
  --c-primary: var(--c-favorite);
  --c-surface-primary-bg: var(--c-favorite-bg);
}

/* -------------------------------------------------- *
 * Footer                                             *
 * -------------------------------------------------- */

.footer {
  padding: var(--body-padding-y) 0 0;
  text-align: center;
}

/* -------------------------------------------------- *
 * Bookmarks                                          *
 * -------------------------------------------------- */

.bookmarks {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  margin: 0;
  padding: 0;
}
@media (min-width: 58rem) {
  .bookmarks {
    margin: 0 -1rem;
  }
}

.bookmarks__group-title {
  font-size: var(--font-size-h3);
  margin-top: 5rem;
  text-transform: capitalize;
}

.bookmarks__group-title:first-child {
  margin-top: 0rem;
}

.bookmarks__item {
  list-style-type: none;
  margin-top: 0;
}

.bookmarks--with-placeholders .bookmarks__item {
  aspect-ratio: 4/3;
  border-radius: var(--border-radius-large);
  border: var(--border-width) dashed var(--c-border);
  padding: 1rem;
}

.bookmarks__link {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  border: var(--border-width) solid transparent;
  box-shadow: var(--shadow-elevation-medium);
  display: flex;
  flex-direction: column;
  height: 100%;
  outline: none;
  padding: 1rem;
  text-decoration: none;
}

.bookmarks__link:is(:hover, :focus) {
  border-color: var(--c-primary);
}

.bookmarks__icon {
  font-size: var(--font-size-h3);
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmarks__title {
  margin-top: 1em;
  text-transform: capitalize;
}

.bookmarks__favorite {
  --svg-height: var(--font-size);
  width: calc(var(--font-size) * 1.75);
  text-align: center;
  padding: 0;
  margin: 0;
  justify-content: center;
  height: calc(var(--font-size) * 1.75);
  display: flex;
  color: var(--c-fg-variant);
  align-items: center;
}

.bookmarks__favorite.bookmarks__favorite--active {
  color: var(--c-favorite);
}

/* -------------------------------------------------- *
 * Search dialog                                      *
 * -------------------------------------------------- */

.search-dialog {
  max-width: 30rem;
  padding-bottom: 0;
  top: 100px;
}

.search-dialog__input {
  margin-bottom: 1rem;
}

.search-dialog__results {
  margin: 0rem -1rem;
  max-height: 22rem;
  overflow: auto;
  padding: 0 0 0.75rem 0;
}

.search-dialog__result {
  list-style-type: none;
  margin: 0;
}

.search-dialog__result a {
  --border-width: 3px;
  align-items: center;
  border-left: var(--border-width) solid var(--link-border-color, transparent);
  display: flex;
  gap: 1rem;
  outline: none;
  padding: 0.6125rem calc(1rem - var(--border-width));
  text-decoration: none;
  transition-property: background-color, color;
}

.search-dialog__result a:hover {
  --link-border-color: var(--c-border);
}

.search-dialog__result a:is(:focus, .focus) {
  --link-border-color: var(--c-primary);
}

.search-dialog__icon {
  flex: none;
  font-size: var(--font-size-h3);
}

.search-dialog__text > * {
  display: block;
}

.search-dialog__empty {
  padding: 2.5rem 1.5rem;
  border: var(--border-width) dashed var(--c-border);
  margin: 0 0 1rem;
  border-radius: var(--border-radius);
  text-align: center;
}

.search-dialog__empty * {
  margin: 0.5rem 0;
}
